@import "tailwindcss";

@keyframes rotateBackground {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #fff;
  --black-color: #000;

  --space-cadet: #22223b;
  --ultra-violet: #4a4e69;
  --rose-quartz: #9a8c98;
  --pale-dogwood: #c9ada7;
  --isabelin: #f2e9e4;
}

body {
  background-color: #3a383c;
}

.text-center {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .text-center {
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

a,
p,
span,
summary {
  font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  &:hover {
    text-decoration-color: #c9b16a;
  }
}
